# API Endpoints
NEXT_PUBLIC_ODCLOUD_API_URL=https://api.odcloud.kr/api/15056429/v1/uddi:1b4c1847-29a3-447b-8b4c-f3001781eede_201911051431
NEXT_PUBLIC_CAT_API_URL=https://catfact.ninja/facts

# API Configuration
NEXT_PUBLIC_API_TIMEOUT=10000
NEXT_PUBLIC_API_RETRY_COUNT=3 