@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

html, body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  position: relative;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-left .logo {
  font-size: 30px;
  font-weight: bold;
}

.header-left .logo .hash {
  color: #007bff;
}

.header-center {
  display: flex;
  gap: 40px;
}

.header-center a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.header-center a:hover {
  color: #2F80ED;
}

.header-right .try-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.header-right .try-button:hover {
  background-color: #ffffff;
  color: #000;
}

.leftContent {
  position: absolute;
  top: 220px;
  left: 280px;
  width: 490px;
  height: 386px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  color: #000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leftContent .leftContent-title {
  font-weight: bold;
}

.leftContent .gradient {
  background: linear-gradient(to right, #2F80ED, #32beec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leftContent .leftContent-details {
  color: #52525B;
  font-size: 18px;
  padding: 30px 0;
}

.leftContent .start-button {
  width: 214px;
  height: 61px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #000;
  cursor: pointer;
}

.rightContent {
  width: 438px;
  height: 561px;
  position: absolute;
  left: 800px;
  top: 157px;
}

.pageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  bottom: 127px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.page.active {
  background-color: #2F80ED;
}

.transition-group {
  position: relative;
}

.transition-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
